@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/**************************************************************** BASIC ****************************************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #222222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

span {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  line-height: 1.8;
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.714em;  /* 100 / 140 */
  color: #ffffff;
}

h3 {
  line-height: 100%;
  font-size: 110%;
  font-weight: normal;
  margin: 20px 0 10px 0;
  color: #ffffff;
}

h4 {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #15bde0;
  text-align: center;
}

p {
  line-height: 1;
}

button {
  width: 100%;
  padding: 0;
  border: none;
  box-shadow: none;
  background: #222222;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

button:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

button:disabled {
  opacity: .1;
}

button[disabled]:hover {
  opacity: .1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 25%;
  height: inherit;
  background: #111;
  padding: 30px 0;
  z-index: 999999999;
}


/**************************************************************** SUPERVILLAIN ****************************************************************/

.villain_pic {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
  cursor: url(../img/fist_cursor.png), auto;
  opacity: .8;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.villain_pic:hover {
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#villain_avatar {
  height: 100%;
}

.villain_stats {
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.villain_life_stats, .villain_maxlife_stats {
  line-height: 2.8;
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
}

.villain_life {
  width: 70%;
  height: 5px;
  background: #444444;
  margin: 0 auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.villain_life_jauge {
  height: 5px;
  background: linear-gradient(#15bde0, #1d62f0);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.change_villain {
  width: 260px;
  margin: 0 auto;
}

#left {
  width: 130px;
  height: 40px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  background: #111111;
  z-index: 999999;
  padding: 6px;
  opacity: .6;
  font-size: 80%;
}

#right {
  width: 130px;
  height: 40px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  background: #111111;
  z-index: 999999;
  padding: 6px;
  opacity: .6;
  font-size: 80%;
}

#left:hover {
  opacity: 1;
}

#right:hover {
  opacity: 1;
}


/**************************************************************** STATS ****************************************************************/

.stats_block {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.stats_block > div {
  width: 100%;
  padding-left: 30px;
  margin: 20px auto;
  border-left: 1px solid #201f1f;
}


/**************************************************************** SUPERHEROES & UPGRADES ****************************************************************/

#game_items {
  display: flex;
  flex-direction: row;
  width: 75%;
  padding: 30px;
  overflow: auto;
  color: #ffffff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#game_items p, #game_items span {
  font-size: 1em;
  color: #fff;
}

#game_items img {
  width: 100%;
}

/** HEROES BLOCK **/
.heroes_block {
  width: 33.333%;
  padding: 0 5px;
}

.hero_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  background-color: #333;
  opacity: .6;
  overflow: hidden;
}

.hero_card:hover {
  opacity: 1;
}

.superhero_pic {
  width: 25%;
  background: #111;
}

.superhero_carac {
  width: 55%;
}

.superhero_stats {
  width: 20%;
  height: 80px;
  padding: 25px 0;
  background: #111;
}

/** ALLIES BLOCK **/
.idle_block {
  width: 33.333%;
  padding: 0 5px;
}

.idle_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  background: #333;
  overflow: hidden;
  padding: 0;
  opacity: .6;
  overflow: hidden;
}

.idle_card:hover {
  opacity: 1;
}

.idle_pic {
  width: 25%;
  background: #111;
}

.idle_carac {
  width: 55%;
}

.idle_stats {
  width: 20%;
  height: 80px;
  padding: 25px 0;
  background: #111;
}

/** UPGRADES BLOCK **/
.upgrade_block {
  width: 33.333%;
  padding: 0 5px;
}

.upgrade_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  background-color: #333;
  opacity: .6;
  overflow: hidden;
}

.upgrade_card:hover {
  opacity: 1;
}

.upgrade_carac {
  width: 100%;
  height: inherit;
}


/**************************************************************** MEDIA QUERIES ****************************************************************/

@media screen and (max-width: 920px) {
  #game_items {
    flex-direction: column;
  }
  .idle_block {
    width: 100%;
  }
  .heroes_block {
    width: 100%;
  }
  .upgrade_block {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }
  .header {
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #game_items {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .stats_block {
    flex-direction: column;
    text-align: center;
  }
  .stats_block > div {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    border: none;
  }
}
